grant {
    permission java.io.FilePermission "D:\Data\Repository\LiangYuOj\.\tests", "read";
    permission java.io.FilePermission "D:\Data\Repository\LiangYuOj\.\tests", "write";
};
